* {
    border: 1px solid silver;border-spacing: 2cm;background-image:linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("../../media/examples/lizard.jpeg");
  }
  img {
    width:"200px"; height:"450px";float:left;
  }

  h1 {
    color:black;background-color: aqua;width: "100px";
    height: "150px"; margin:10rem;margin-left: 20rem;text-align:center;
  }
  
  h2 {
    color:black;background-color: cornsilk;margin: 1rem;
  }
  h3 {
    color:black;background-color: cornsilk;margin: 1rem;
  }
  h4{
    color:black;background-color: cornsilk;margin: 1rem;
  }
  
  h5{
    color:black;background-color: cornsilk;margin: 1rem;
  }
  
  .description {
    margin-top: 5rem; font-style: italic ;text-align: center;
    font: 100; font-size: medium;font-display: red;
    }
    .BookAppointment{
      
        margin-top: 5rem; font-family: 'Courier New', Courier, monospace;
        font-size: larger;color: blue;text-align: center;
    }
    
