* {
    border: 1px solid silver;border-spacing: 2cm;background-image:linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("../../media/examples/lizard.jpeg");
  }
  img {
    width:"200px"; height:"450px";float:left;
  }

  h1 {
    color:black;background-color: aqua;width: "100px";
    height: "150px"; margin:10rem;margin-left: 20rem;text-align:center;text-transform: uppercase;text-shadow: 1px 1px 1px greenyellow;
  }
  
  h2 {
    color:black;background-color: cornsilk;margin: 1rem;text-align:left;
  }
  h3 {
    color:black;background-color: cornsilk;margin: 1rem;text-align: left;
  }
  h4{
    color:black;background-color: cornsilk;margin: 1rem;text-align: left;
  }
  
  h5{
    color:black;background-color: cornsilk;margin: 1rem;text-align: left;
  }
  
  .description {
    margin-top:0.5rem; font-style:oblique ;text-align: left;
    font-size: smaller;list-style:georgian;line-height: 1.6;
    }
    .BookAppointment{
      
        margin-top: 1rem; font-family:Arial, Helvetica, sans-serif;
        font-size: larger;color: blue;text-align: center;font-weight: 900;
    }
    
